@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    /* ### Primary */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /* ### Neutral */
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--Very-dark-blue-main-BG);
    color: var(--White);
}

.container {
    width: 330px;
    height: 550px;
    margin: 30px auto;
    background-color: var(--Very-dark-blue-card-BG);
    padding: 25px;
    border-radius: 16px;

}

.container__image--fixed {
    height: 280px;
    width: 280px;
    border-radius: 12px;
    margin-bottom: 25px;
    position: relative;
}

.container__image--hover {
    height: 280px;
    width: 280px;
    margin-top: -310px;
    background-color: var(--Cyan);
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    
}

.container__image--hover:hover {
    opacity: 0.6;
}

.container__information h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.container__information p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    width: 280px;
    margin-bottom: 16px;
    color: var(--Soft-blue);
}

.container__iconText {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;   
}

.container__iconText__valueETH {
    display: flex;
    align-items: center;
}

.container__iconText__valueETH img {
    height: 16px;
    padding-right: 10px;
}

.container__iconText__valueETH p {
    color: var(--Cyan);
    font-weight: 400;
}

.container__iconText__daysLeft {
    display: flex;
    align-items: center;
}

.container__iconText__daysLeft img {
    padding-right: 10px;
}

.container__iconText__daysLeft p {
    color: var(--Soft-blue);
    font-weight: 400;
}

.container__line {
    border: 1px solid var(--Very-dark-blue-line);
    margin-bottom: 20px;
}

.container__creator {
    display: flex;
    align-items: center;
}

.container__creator img {
    width: 32px;
    border-radius: 50%;
    border: 1px solid var(--White);
    margin-right: 16px;
}

.container__creator p {
    font-weight: 400;
    color: var(--Soft-blue);
}

.container__creator span {
    color: var(--White);
}

.attribution {
    font-size: 16px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}